.main-header {

}

.logo {
    width: 200px;
    height: 100px;
}

.main-menu {
    position: relative;
    float: right;
   
}

 
.titre-logo {
    text-align : left;
    margin : 0.7% 0 5% 0;
}
.titre-logo h1 {
    margin : -30px 0 0 23px;
    font-size : 26px;
    color: #003399 ;
}

.order {
    display: flex;
    flex-direction: row;
}

.about-us {
    width: 200px;
    color: #003399;
    text-decoration: none;
    font-weight: normal;
    font-size: larger ;
    font-style: italic;
}

.our-doctors {
    width: 200px;
    color:#003399 ;
    text-decoration: none;
    font-weight: normal;
    font-size: larger ;
    font-style: italic;
}

.contact-us {
    width: 200px;
    color: #003399;
    text-decoration: none;
    font-weight: normal;
    font-size: larger ;
    font-style: italic;
}

.about-us1 {
    width: 200px;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: larger ;

}

.our-doctors1 {
    width: 200px;
    color:white ;
    text-decoration: none;
    font-weight: normal;
    font-size: larger ;
}

.contact-us1 {
    width: 200px;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: larger;
}   

.rdv {
display:flex;
display:block ;
margin: 0 -10px;
padding: 0  20px  ;

}

.à_propos {
    width: 50%;
    float: left;
}

.nous {
    width:30%;
    float: right;
    background-color:blue ;
    border-radius: 30%;
}



.grid {
   display: flex;
   margin: 0 80px;
   padding: 40px  40px;
   background-color: #81c2ff;
   border-top-left-radius: 100px;
   border-bottom-right-radius:100px ;
}

.H2 {
    margin: 0.8em 0;
    line-height: 1.75;
    font-family: Roboto,Arial,sans-serif;
    color: white;

}
.aboutus {
    font-size: xx-large;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mil {
    padding: 40px;
}

.button {
    display: inline-block;
    background-color: yellow;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width:400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align: inherit;
   
  }

  button:hover {
    background-color: black;
  }

  .nos {
   padding: 50px 550px;
   font-size: xx-large;
   color: #003399;
  }

  .grid1 {
    display: flex;
    padding:30px 20px ;
    justify-content: space-between;
  }
  .col_4 {
    width: 23%;
    background-color: rgb(188, 217, 242);
    border-radius: 15%;
   
  }

  .shéla {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: rgb(28, 68, 100);
    padding: 10px 30px;
  }

  .pi {
    padding: 10px 20px;
    font-size: large;
    font-style: italic;
  }



.allo {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
padding: 20px 100px;
background: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMS1wZC1zYXNpLTAzLmpwZw.jpg") no-repeat center;
}

.contact-box {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    background: url("image2.webp") no-repeat center;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("image2.webp") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.gauche{
    
	background-size: cover;
	height: 100%;
    
}

.droite{
	padding: 25px 40px;
}

.h22{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.h22:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #cc2ecc;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgb(230, 230, 230);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #e595ea;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #9127ae;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){

    .contact-box{

      grid-template-columns: 1fr;

    }

    .gauche{

      height: 200px; }
      }

 .img1 {
    max-height : 100%;
    width : auto;
   
 }

.img2 {
    margin-top: 35px;
    border-radius:5%;
}

 